@font-face {
    font-family: "Euclid Circular A";
    src: url("../Fonts/Euclid\ Circular\ A\ Regular.ttf") format("truetype");
}


/* @font-face {
    font-family: "Euclid Circular A";
    src: url("../Fonts/Euclid\ Circular\ A\ SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "Euclid Circular A";
    src: url("../Fonts/Euclid\ Circular\ A\ SemiBold\ Italic.ttf") format("truetype");
}

@font-face {
    font-family: "Euclid Circular A";
    src: url("../Fonts/Euclid\ Circular\ A\ Medium\ Italic.ttf") format("truetype");
}

@font-face {
    font-family: "Euclid Circular A";
    src: url("../Fonts/Euclid\ Circular\ A\ Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Euclid Circular A";
    src: url("../Fonts/Euclid\ Circular\ A\ Light\ Italic.ttf") format("truetype");
}

@font-face {
    font-family: "Euclid Circular A";
    src: url("../Fonts/Euclid\ Circular\ A\ Light.ttf") format("truetype");
}

@font-face {
    font-family: "Euclid Circular A";
    src: url("../Fonts/Euclid\ Circular\ A\ Italic.ttf") format("truetype");
}

@font-face {
    font-family: "Euclid Circular A";
    src: url("../Fonts/Euclid\ Circular\ A\ Bold\ Italic.ttf") format("truetype");
}

@font-face {
    font-family: "Euclid Circular A";
    src: url("../Fonts/Euclid\ Circular\ A\ Bold.ttf") format("truetype");
} */